
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.credentials
.git-town.toml 

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
.venv/
.env/

# PyInstaller
*.manifest
*.spec

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/
.coverage.*

# profiling
*.prof

# logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS junk
.DS_Store
Thumbs.db

.aider*
